@charset "utf-8";
/* CSS Document */
/* TODO: 
  1) Remove excess comments  -- done
  2) Complete px to em conversions on all px values  -- done
*/

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8125em;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8125em;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0 #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 1.25em;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: 0.625em;
  letter-spacing: 0.0625em;
  padding: 1.5625em;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 5em;
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 1.1875em;
  font-weight: 200;
  letter-spacing: 0.625em;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 0.625em 2.5em 1em;
    list-style: none;
    background-color: #eee;
    font-size: 1.0625em;
    margin: 0;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 0.5em;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 25em;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: 5em;
  background-color: #3397DB;
  align-items: center;
  padding-top: .5em
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 1.25em;
}
.filter-options select {
  background-color: white;
  border: 0.0625em solid #fff;
  font-family: Arial,sans-serif;
  font-size: 0.9375em;
  height: 2.1875em;
  letter-spacing: 0;
  margin: 0.625em;
  padding: 0 0.625em;
  width: 12.5em;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  max-width: 1280px;
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 1.875em 0.9375em 3.75em;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}
#restaurants-list li {
  background-color: #fff;
  border: 0.125em solid #ccc;
  font-family: Arial,sans-serif;
  margin: 0.9375em;
  min-height: 25.3333em;
  padding: 1.875em 1.5625em;
  text-align: left;
  width: 16.875em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 15.5em;
  min-width: 100%;
}
#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 1.1875em;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 1.25em 0 0.625em;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 0.9375em;
}
#restaurants-list li a {
  background-color: orange;
  border-bottom: 0.1875em solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 0.8125em;
  margin: 0.9375em 0 0;
  padding: 0.5em 1.875em 0.625em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */

#restaurant-details{
  max-width: 1280px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;


}

#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 1.3em;
  font-weight: 200;
  letter-spacing: 0;
  margin: 0.9375em 0 1.875em;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 90%;
}
#restaurant-address {
  font-size: 1.em;
  margin: 0.625em 0;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 1.em;
  font-weight: 300;
  letter-spacing: 0.625em;
  margin: 0 0 1.25em;
  padding: 0.125em 0;
  text-align: center;
  text-transform: uppercase;
	width: 90%;
}
#restaurant-container, #reviews-container {
  border-bottom: 0.0625em solid #d9d9d9;
  border-top: 0.0625em solid #fff;
  padding: 1.5em 2.5em 1.875em;
  width: 32.375em;

  

}
#reviews-container {
  padding: 1.875em 2.5em 5em;
}
#reviews-container h2 {
  color: #f58500;
  font-size: 2em;
  font-weight: 300;
  letter-spacing: -0.0625em;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
    border: 0.125em solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 1.875em;
  overflow: hidden;
  position: relative;
  width: 85%;
  border-radius: 30px 0;

}
#reviews-list li p {
  margin: 0 0 0.625em;
  padding: 0 1.25em 1.25em;
}

#reviews-list li div {
  background-color: #000;
  height: 3em;
  padding: 1em;
  margin-bottom: 1em;
}

#reviews-list li div p {
  color:#fff;
  font-size: 1.5em;
}

#reviews-list li div span {
  color:#fff;
  float:right;
  font-size: .5em;
}


.reviews_rating {
  background-color: #f58500;
  color: #fff;
  text-transform: uppercase;
  padding: 0.3em;
  }


#restaurant-hours td {
  color: #666;
}

@media only screen and (min-width: 320px) {

  #restaurants-list li {
    flex-grow: 1;
    
    }
}

@media only screen and (min-width: 640px) {

  #restaurants-list li {
    flex-grow: 0;
  
    }
}

@media only screen and (min-width: 768px) {

  #restaurants-list li {
    flex-grow: 0;
    width: 22em;
    }

    #restaurant-container, #reviews-container {
      width: 24.375em;   
      }

      #reviews-list li p {
        font-size: 1.15em;
      }

}

@media only screen and (min-width: 1024px) {

  #restaurants-list li {
    flex-grow: 0;
    width: 22.5em;
    }

  #restaurant-container, #reviews-container {
    width: 34.375em;   
  }

  #reviews-list li p {
    font-size: 1.5em;
  }

}